<div class="container">
  <div>
    <h2>Calculadora científica</h2>
  </div>
  <div class="content">
    <div>
      <label>Digite o primeiro número:</label>
      <input type="number" [(ngModel)]="firstNumber">
    </div>
    <div>
      <label>Digite o segundo número:</label>
      <input type="number" [(ngModel)]="secondNumber">
    </div>
    <div>
      <label>escolha a operação:</label>
      <div class="d-flex">
        <div>
          <button
            type="button"
            class="btn btn-primary"
            (click)="add()">+</button>
        </div>
        <div>
          <button
            type="button"
            class="btn btn-success"
            (click)="subtract()">-</button>
        </div>
        <div>
          <button
            type="button"
            class="btn btn-light"
            (click)="clean()">C</button>
        </div>
      </div>
    </div>
    <div>
      <span>Resultado</span>: <b>{{result}}</b>
    </div>
  </div>
</div>
